.bg-blue {
  background: #3079AB;
  color: white;
}

.bg-grey {
  background-color: rgb(243, 242, 242);
}

.card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
}